[Unit]
Description = pratica_5_parte_1 # nome do documento
After =multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/sel/8294/Parte_1_Botao_LED.py # quando a raspbery ligar irá acessar o arquivo Parte_1_Botao_LED.py pelo caminho específicado 
ExecStop=/usr/bin/python3 /home/sel/8294/Parte_2_Controle_PWM.py # quando a raspbery ligar irá acessar o arquivo Parte_2_Controle_PWM.py pelo caminho específicado 
user=SEL

[Install]
WantedBy=multi-user.target
